{% extends 'layout.html' %}
{% block title %}
{{title}}
{%endblock%}
{% block head %}
<link rel="stylesheet" href="stylesheets/materialize.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- Moment -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<!-- main css -->
<link rel="stylesheet" href="stylesheets/dashboard.css">
<link rel="stylesheet" href="stylesheets/switch.css">
<link rel="stylesheet" href="stylesheets/rangeslider.css">
<!-- Helper function -->
<script src="javascripts/common.js"></script>
<script src="javascripts/rangeslider.min.js"></script>
<!-- main script -->
<script src="javascripts/dashboard.js"></script>
<script src="javascripts/onlinecomm.js"></script>
{% endblock %}
{% block navbar %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="account">Account</a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#" aria-disabled="true">Dashboard</a>
</li>
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="devices">Devices</a>
</li>
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="edit">Edit Info</a>
</li>
<li class="nav-item">
    <a class="nav-link" aria-current="page" id="logoutbtn">Logout</a>
</li>
{% endblock %}
{% block content %}
<div class="modal-center centerDiv">
    <ul class="collection with-header">
        <li class="collection-header">
            <h4>Dashboard</h4>
        </li>
        <li class="collection-item">
            <span>Real time:</span><br>
            <span id="curTimeReal"></span>
        </li>
        <li class="collection-item smartlightpanel">
            <div>
                <span>Weather:</span>
                <span id="weather"></span>
            </div>
            <div>
                <span>Door Status:</span>
                <span id="door_status"></span>
            </div>
            <div>
                <span>Humidity:</span>
                <span id="Humidity"></span>
            </div>
            <div>
                <span>Temperature:</span>
                <span id="Temperature"></span>
            </div>
        </li>
    </ul>
    <ul class="collection with-header">
        <li class="collection-header">
            <span>Online Communication</span>
        </li>
        <li class="collection-item">
            <select id="online_device_list">
                <option selected value="null">Please select your Online Device</option>
            </select>
            <button class="waves-effect waves-light btn" id="onlineping">Ping</button>
            <a href="instruction"><button class="waves-effect waves-light btn">Instruction</button></a>
        </li>
        <li class="collection-item">
            <span>Please select variable to read</span>
            <select id="readvalue">
                <option selected>Humidity</option>
                <option>Temperature_Celcius</option>
                <option>Temperature_Farenheit</option>
                <option>door_analogvalue</option>
                <option>smart_light_analogvalue</option>
            </select>
            <button class="waves-effect waves-light btn" id="cloudread">Read</button>
        </li>
        <li class="collection-item">
            <span>Online Publish</span>
            <div class="toggleswitch">
                <input type="checkbox" name="toggleswitch" class="toggleswitch-checkbox" id="publishonoff">
                <label class="toggleswitch-label" for="publishonoff">
                    <span class="toggleswitch-inner onoffSwitchText"></span>
                    <span class="toggleswitch-switch"></span>
                </label>
            </div>
            <span id="onlinesimulatedtime">Online Simulated Clock Here</span>
        </li>
        <li class="collection-item">
            <span>Online status:</span>
            <div style="display:inline-block; width:100%; height: 3rem;">
                <textarea id="online_com_status" name="online_com_status" style="width:100%;height:100%" readonly value=""></textarea>
            </div>
        </li>
    </ul>
    <ul class="collection with-header">
        <li class="collection-header">
            <span>Debug Only: Local Serial Communication</span> <button class="waves-effect waves-light btn" id="showLocal">Click Here</button>
        </li>
    </ul>
    <ul class="collection with-header">
        <li class="collection-header" style="background-color:linen;">
            <h5>Smart Light</h5>
        </li>
        <li class="collection-item smartlightpanel">
            <div class="toggleswitch">
                <input type="checkbox" name="toggleswitch" class="toggleswitch-checkbox" id="smartlightonoff" onchange="smartLightControl('on', this.checked)">
                <label class="toggleswitch-label" for="smartlightonoff">
                    <span class="toggleswitch-inner onoffSwitchText"></span>
                    <span class="toggleswitch-switch"></span>
                </label>
            </div>
            <div class="toggleswitch">
                <input type="checkbox" name="toggleswitch" class="toggleswitch-checkbox" id="smartlightMode" onchange="smartLightControl('auto', this.checked)">
                <label class="toggleswitch-label" for="smartlightMode">
                    <span class="toggleswitch-inner manualAutoSwitchText"></span>
                    <span class="toggleswitch-switch"></span>
                </label>
            </div>
        </li>
        <li class="collection-item">
            <span>Brightness:</span>
            <div class="slideroffsets">
                <input id="birghtnessSlider" type="range" min="0" max="100" step="1" value="0" onchange="smartLightControl('brightness', this.value)">
            </div>
        </li>
        <li class="collection-item" style="background-color:linen;">
            <span>Sensor setting</span>
        </li>
        <li class="collection-item">
            <span>Sensor min:</span>
            <div class="slideroffsets">
                <input id="sensorMinSlider" type="range" min="0" max="4095" step="1" value="500" onchange="smartLightControl('min', this.value)">
            </div>
            <span>Sensor max:</span>
            <div class="slideroffsets">
                <input id="sensorMaxSlider" type="range" min="0" max="4095" step="1" value="2500" onchange="smartLightControl('max', this.value)">
            </div>
            <span>Sensor Val:</span>
            <span id="sensorVal"></span>
            <br>
            <span>Present brightness:</span>
            <div id="curBrightness" style="width: 100%; height:100%;"></div>
        </li>
    </ul>
    <ul class="collection with-header">
        <li class="collection-header" style="background-color:linen;">
            <h5>LED (D7) blinking</h5>
        </li>
        <li class="collection-item">
            <span>Hz:</span>
            <div class="slideroffsets">
                <input id="ledHzSlider" type="range" min="1" max="10" step="1" value="1" onchange="toggleLedControl(this.value)">
            </div>
        </li>
    </ul>
    <ul class="collection with-header">
        <li class="collection-header" style="background-color:linen;">
            <h5>CMD Status Data Output</h5>
        </li>
        <li class="collection-item">
            <div style="display:inline-block; width:100%; height: 20rem;">
                <textarea id="cmdStatusData" style="width:100%; height:100%"></textarea>
            </div>
        </li>
        <li class="collection-header" style="background-color:linen;">
            <h5>RD Data Output</h5>
        </li>
        <li class="collection-item">
            <div style="display:inline-block; width:100%; height: 20rem;">
                <textarea id="rdData" style="width:100%; height:100%"></textarea>
            </div>
        </li>
    </ul>
</div>
{% endblock %}