{% extends 'layout.html' %}
{% block title %}
{{title}}
{%endblock%}
{% block head %}
<link rel="stylesheet" href="stylesheets/materialize.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- Moment -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<script src="javascripts/dashboard.js"></script>
<script src="javascripts/rangeslider.min.js"></script>
<link rel="stylesheet" href="stylesheets/dashboard.css">
<link rel="stylesheet" href="stylesheets/switch.css">
<link rel="stylesheet" href="stylesheets/rangeslider.css">
{% endblock %}
{% block navbar %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="account">Account</a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page"  href="#" aria-disabled="true">Dashboard</a>
</li>
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="devices">Devices</a>
</li>
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="edit">Edit Info</a>
</li>
<li class="nav-item">
    <a class="nav-link" aria-current="page" id="logoutbtn">Logout</a>
</li>
{% endblock %}
{% block content %}
<h1>Controller GUI</h1>
<div class="centerDiv">
    <table>
        <tr>
            <td colspan="4"><span id="curTime"></span></td>
        </tr>
        <tr>
            <th colspan="4">Serial Comm. </th>
        </tr>
        <tr>
            <td>
                <select id="com_ports_list">
                    <option selected value="null">Please select your port</option>
                </select>
            </td>
            <td>
                <button id="btnConnect" onclick="connectDisconnect()">Connect</button>
            </td>
            <td>COM status:</td>
            <td>
                <input id="com_status" name="com_status" style="width:600px;" readonly value="">
            </td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <th colspan="4">Smart Light</th>
        </tr>
        <tr>
            <td>
                <div class="toggleswitch">
                    <input type="checkbox" name="toggleswitch" class="toggleswitch-checkbox" id="smartlightonoff" onchange="smartLightControl('on', this.checked)">
                    <label class="toggleswitch-label" for="smartlightonoff">
                        <span class="toggleswitch-inner onoffSwitchText"></span>
                        <span class="toggleswitch-switch"></span>
                    </label>
                </div>
            </td>
            <td>
                <div class="toggleswitch">
                    <input type="checkbox" name="toggleswitch" class="toggleswitch-checkbox" id="smartlightMode" onchange="smartLightControl('auto', this.checked)">
                    <label class="toggleswitch-label" for="smartlightMode">
                        <span class="toggleswitch-inner manualAutoSwitchText"></span>
                        <span class="toggleswitch-switch"></span>
                    </label>
                </div>
            </td>
            <td>Brightness:</td>
            <td colspan="3">
                <input id="birghtnessSlider" type="range" min="0" max="100" step="1" value="0" onchange="smartLightControl('brightness', this.value)">
            </td>
        </tr>
        <tr>
            <td colspan="4" style="background-color:linen;">Sensor setting</td>
        </tr>
        <tr>
            <td>Sensor min:</td>
            <td>
                <input id="sensorMinSlider" type="range" min="0" max="4095" step="1" value="500" onchange="smartLightControl('min', this.value)">
            </td>
            <td>Sensor max:</td>
            <td>
                <input id="sensorMaxSlider" type="range" min="0" max="4095" step="1" value="2500" onchange="smartLightControl('max', this.value)">
            </td>
        </tr>
        <tr>
            <td>Sensor Val:</td>
            <td><span id="sensorVal"></span></td>
            <td>Present brightness:</td>
            <td>
                <div id="curBrightness" style="width: 100%; height:100%;"></div>
            </td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <th colspan="2">LED (D7) blinking</th>
        </tr>
        <tr>
            <td>Hz:</td>
            <td><input id="ledHzSlider" type="range" min="1" max="10" step="1" value="1" onchange="toggleLedControl(this.value)"></td>
        </tr>
    </table>
    <br />
    <div style="display:inline-block; width:49%; height: 200px;">
        <textarea id="cmdStatusData" style="width:100%; height:100%"></textarea>
    </div>
    <div style="display:inline-block; width:49%; height: 200px;">
        <textarea id="rdData" style="width:100%; height:100%"></textarea>
    </div>
</div>
{% endblock %}