{% extends 'layout.html' %}
{% block title %}
{{title}}
{%endblock%}
{% block head %}
<link rel="stylesheet" href="stylesheets/materialize.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- Moment -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<!-- script src="javascripts/account.js"></script-->
<link rel="stylesheet" href="stylesheets/account.css">
{% endblock %}
{% block navbar %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="account" >Account</a>
</li>
<li class="nav-item">
    <a class="nav-link" aria-current="page"  href="dashboard">Dashboard</a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#" aria-disabled="true">Devices</a>
</li>
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="edit">Edit Info</a>
</li>
<li class="nav-item">
    <a class="nav-link" aria-current="page" id="logoutbtn">Logout</a>
</li>
{% endblock %}
{% block content %}
<div class="modal-center">
    <ul class="collection with-header" id="devices">
        <li class="collection-header">
            <h4>Devices <i class="fas fa-microchip"></i></h4>
        </li>
        <li class="collection-item" id="addDeviceForm">
            <label for="deviceId">New Device ID:</label>
            <input type="text" id="deviceId" name="deviceId" col="30">
            <button id="registerDevice" class="waves-effect waves-light btn">Register</button>
            <button id="cancel" class="waves-effect waves-light btn">Cancel</button>
        </li>
        <li class="collection-item" id="addDeviceControl"><a href="#!" id="addDevice">Add Device</a></li>
        <li class="collection-item" id="deleteDeviceControl"><a href="#!" id="deleteDevice">Delete Device</a></li>
        <li class="collection-item" id="deleteDeviceForm">
            <div id="deviceList"></div>
            <button id="deleteDeviceBtn" class="waves-effect waves-light btn">Delete</button>
            <button id="cancelDelete" class="waves-effect waves-light btn">Cancel</button>
        </li>
    </ul>
    <div class='red-text text-darken-2' id="error"></div>
</div>
{% endblock %}