{% extends 'layout.html' %}
{% block title %}
{{title}}
{%endblock%}
{% block head %}
<link rel="stylesheet" href="stylesheets/materialize.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- Helper function -->
<script src="javascripts/validation.js"></script>
<link rel="stylesheet" href="stylesheets/sign.css">
<script src="javascripts/signup.js"></script>
{% endblock %}
{% block navbar %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="/">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#" aria-disabled="true">Register</a>
</li>
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="login">Login</a>
</li>
{% endblock %}
{% block content %}
<h1> {{message}}</h1>
<h2> {{error.status}}</h2>
<pre><code>{{error.stack}}</code></pre>
{% endblock %}