{% extends 'layout.html' %}
{% block title %}
{{title}}
{%endblock%}
{% block head %}
<link rel="stylesheet" href="stylesheets/materialize.css">
{% endblock %}
{% block navbar %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="/">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#" aria-disabled="true">Register</a>
</li>
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="login">Login</a>
</li>
{% endblock %}
{% block content %}
<header>
    <div id="nav-placeholder"></div>
</header>
<div class="row" id="main">
    <h5>Account details</h5>
    <input type="text" id="fullname" name="fullname" col="30">
    <label for="fullname">Full Name</label>
    <input type="text" id="email" name="email" col="30">
    <label for="email">Email</label>
    <input type="password" id="password" name="password" col="30">
    <label for="password">New Password</label>
    <input type="password" id="passwordConfirm" name="passwordConfirm" col="30">
    <label for="passwordConfirm">New Password Confirmation</label>
    <button id="saveEdit" class="waves-effect waves-light btn">Sign up</button>
    <button id="cancelEdit" class="waves-effect waves-light btn">Cancel</button>
    <a href="#!" class="btn btn-primary" id="editAccount">Edit Account</a>
</div>
{% endblock %}